/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/****************************************/


body {
    margin: 2em;
    font-size: 18pt;
    line-height: 24pt;
    font-weight: 100;
    font-family: "brandon-grotesque", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
    margin: 1em 0;
}
h1 {
    font-size: 200%;
    font-weight: 200;
    margin-bottom: 1.5em;
}
h2 {
    font-size: 170%;
    font-weight: 200;
    margin-bottom: 1.2em;
}
body {
    margin-left: 9em;
    padding-left: 1em;
    border-left: 1px dotted black;
    max-width: 900px;
}
p, li {
    font-family: "proxima-nova";
    font-weight: 100;
}
ul li {
    float: left;
    width: 45%;
    box-sizing: border-box;
    margin-bottom: 1em;
    margin-right: 4%;
}
ul li:nth-child(odd) {
    clear: left;
}
ul li img {
    margin: 10px 0px;
    box-sizing: border-box;
    width: 90%;
    display: block;
}
ul {
    overflow: hidden;
}
strong {
    text-decoration: underline;
    -webkit-text-decoration-line: underline;
    -moz-text-decoration-style: dotted;
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
}
section {
    margin-top: 65px;
    overflow: auto;
}
section p {
    overflow: auto;
}
section p:first-of-type {
    margin-top: 0;
}
section img {
    float: right;
    max-width: 470px;
    margin: 0 1em 1.5em 0.5em;
}
.license {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 200px;
    font-size: 12px;
    line-height: 140%;
}
.sidebar {
    position: fixed;
    top: 45px;
    left: 10px;
    font-size: 16px;
    line-height: 140%;
}
